{**
* @param string   $basePath web base path
* @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Uhotip</title>

    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    {block head}
    {/block}
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Uhotip</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {include content}
            </div>
        </div>
    </div>


    {block scripts}

    {/block}
</body>
</html>
